$couleur-primaire: #9356DC;
$couleur-primaire-fond: rgb(244,237,254);
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-tertiaire-texte: rgb(59, 133, 104);
$couleur-footer: rgb(53, 53, 53);
$couleur-ombres: #DDDDDD;
$couleur-ombres-foncee: #BBBBBB;


html, body{
    margin: 0;
    padding: 0;
    border: none;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// CSS reset



h1, h2, h3, h4, h5, h6, p, a, ul, li, span{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
p{
    font-weight: 300;
}
h1{
    font-size: 26px;
    font-weight: bold;
}
h3{
    font-size: 14px;
    font-weight: 500;
    color: $couleur-tertiaire-texte;
}
a{
    text-decoration: none;
    &{
        color: black;
    }
}
span{
    font-weight: 500;
}
// Initialisation texte


.chargement {
    position: fixed;
    z-index: 2;

    width: 100%;
    height: 100%;
    
    background: -webkit-linear-gradient($couleur-secondaire, $couleur-primaire);
    box-shadow: 0 5px 10px gray;

    animation: disparition 4s linear 1;
    animation-fill-mode: forwards;

    .loading-spinner {
        cursor: progress;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .loading-spinner::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .loading-spinner::after {
        content: "";
        position: absolute;
        top: 60%;
        left: 50%;
        margin: -50px 0 0 -50px;
        border: 10px solid white;
        border-top: 10px solid rgba(0,0,0,0);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: loading 2s cubic-bezier(0.870, 0.180, 0.320, 0.870) 2;
    }

    span{
        width: 300px;
        margin-left: -150px;
        
        
        position: absolute;
        top: 25%;
        left: 50%;

        color: white;
        font-size: 36px;
        text-align: center;
    }
}

@keyframes loading {
    0% { transform: rotate(45deg); }
    100% { transform: rotate(405deg); }
}
@keyframes disparition{
    90%{
        opacity: 1;
    }
    99%{
        transform: scale(1);
        z-index: 10;
    }
    100%{
        opacity: 0;
        transform: scale(0);
        z-index: -5;
    }
}
// Loading spinner



header{
    width: 100%;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    img{
        height: 28px;
    }
    a{
        position: absolute;
        left: 22px;
        i{
        font-size: 20px;
        }
    }
}
// Entête



// =================== //
// ===== Accueil ===== //
// =================== //

.localisation{    
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 10px 15px -15px rgba(0,0,0,0.75) inset;

    background-color: rgb(234,234,234);

    i, input{
        margin: 16px 0;
    }
    input{
        border: none;
        font-size: 16px;
        text-align: center;
        color: black;
        background-color: rgb(234,234,234);
        &::placeholder {
            color: black;
            opacity: 1;
          }
    }
}
// Localisation



.introduction{
    text-align: center;

    padding-top: 48px;
    padding-bottom: 56px;
    padding-left: 40px;
    padding-right: 40px;

    background-color: rgb(246,246,246);
    p{
        margin-top: 24px;
    }
}
// Introduction


.fonctionnement{
    padding-top: 56px;
    padding-bottom: 68px;
    padding-left: 20px;
    padding-right: 20px;
    li{
        height: 72px;
        margin-top: 32px;
        padding-left: 32px;
        padding-right: 28px;

        display: flex;
        align-items: center;

        position: relative;

        border-radius: 15px;

        background-color: rgb(246,246,246);
        box-shadow: 0 5px 10px $couleur-ombres;
        i{
            color: rgb(127, 127, 127);
            margin-right: 26px;
        }
        .fonctionnement__numérotation{
            padding: 4px 9px;

            position: absolute;
            left: -15px;

            text-align: center;
            
            border-radius: 100px;

            color: white;
            background-color: $couleur-primaire;
        }
        &:hover{
            background-color: $couleur-primaire-fond;
            i{
                color: $couleur-primaire;
            }
        }
    }
}
// Comment ça marche ?



.resultats{
    padding-top: 56px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 64px;

    background-color: rgb(246,246,246);
    .resultats__grille{
        margin-top: 28px;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 18px;
        grid-template-areas:
            "carte1"
            "carte2"
            "carte3"
            "carte4"
        ;

        li{
            border-radius: 15px;
        }

        .resultats__grille__carte{

            &--1{
                grid-area: carte1;
            }
            &--2{
                grid-area: carte2;
            }
            &--3{
                grid-area: carte3;
            }
            &--4{
                grid-area: carte4;
            }

            position: relative;

            .element__coeurs{
                margin: 0;
                padding: 0;
                border: 0;
                background: none;

                .fa-heart{
                    position: absolute;
                    bottom: 48px;
                    right: 24px;
                    font-size: 28px;
                    &--plein{
                        background: -webkit-linear-gradient($couleur-secondaire, $couleur-primaire);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            .resultats__grille__carte__illustration{
                box-shadow: 0 5px 10px $couleur-ombres;
                height: 174px;

                background-size: cover;
                background-position: center;

                border-radius: 15px 15px 0 0;
                h3{
                    float: right;
                    padding: 10px 12px;
                    margin-top: 12px;
                    margin-right: 10px;

                    border-radius: 3px;

                    background-color: $couleur-tertiaire;
                }
                &--1{
                    background-image: url("../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
                }
                &--2{
                    background-image: url("../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
                }
                &--3{
                    background-image: url("../../public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
                    h3{
                        visibility: hidden;
                    }
                }
                &--4{
                    background-image: url("../../public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
                    h3{
                        visibility: hidden;
                    }
                }
            }

            .resultats__grille__carte__description{
                box-shadow: 0 5px 10px $couleur-ombres;

                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 14px;

                display: flex;
                justify-content: space-between;
                align-items: center;

                border-radius: 0 0 15px 15px;

                background-color: white;

                .resultats__grille__carte__description__texte{
                    p{
                        margin-top: 6px;
                    }
                }
            }
        }
    }
}
// Liste des restaurants



  // ================================== //
 // ===== Les différentes cartes ===== //
// ================================== //
.page{
    background-image: none;
    background-size: cover;
    background-position: center;
    border-top: 1px white solid;

    img{
        height: 220px;
        width: 100%;
        object-fit: cover;
    }

    .page__carte{
        display: block;
        margin: auto;

        margin-top: 0;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 58px;

        border-radius: 40px 40px 0 0;

        background-color: #F6F6F6;
        h1{
            font-family: 'Shrikhand', cursive;
            font-weight: 400;
        }
        h2{
            margin-bottom: 22px;

            font-size: medium;
            font-weight: normal;

            position: relative;

            &:before{
                content:"";
                width: 40px;
                height: 3px;

                position: absolute;
                bottom: -5px;
                left: 0;

                background-color: $couleur-tertiaire;
            }
        }
        
        .page__carte__titre{
            position: relative;
            .page__carte__titre__coeurs{
                margin: 0;
                padding: 0;
                border: 0;
                background: none;

                .fa-heart{
                    position: absolute;
                    top: 5px;
                    right: 20px;
                    font-size: 24px;
                    &--plein{
                        background: -webkit-linear-gradient($couleur-secondaire, $couleur-primaire);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
        .page__carte__plat{
            
            h2{
                margin-top: 48px;
            }

            .page__carte__plat__type{
                

                //animation
                animation: translation 1s backwards;
                &--1{
                    animation-delay: 300ms;
                }
                &--2{
                    animation-delay: 600ms;
                }
                &--3{
                    animation-delay: 900ms;
                }
                //animation


                .contenu{
                    height: 70px;
                    margin-top: 12px;

                    display: flex;

                    border-radius: 15px;
                    background-color: white;
                    box-shadow: 0 5px 10px $couleur-ombres;

                    overflow: hidden;

                    cursor: pointer;

                    .description{
                        width: 100%;
                        padding: 16px 10px;
                        
                        display: block;
                        
                        overflow: hidden;
                        
                        h3{
                            color: black;

                            font-size: medium;
                            font-weight: 500;

                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p{
                            margin-top: 8px;
                            
                            color: black;

                            font-size: small;
                            font-weight: 300;

                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .prix{
                        padding: 16px 10px;

                        align-self: flex-end;
                    }

                    .checkbox{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        overflow: hidden;

                        background-color: $couleur-tertiaire;

                        i{
                            font-size: medium;
                            padding: 4px;

                            border-radius: 25px;
                            
                            color: $couleur-tertiaire;

                            background-color: white;
                        }
                    }
                }
            }
        }
        .page__carte__bouton{
            margin-top: 26px;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.bouton{
    margin-top: 34px;
    padding: 18px 30px;

    border-radius: 50px;

    display: inline-block;

    color: white;

    background: linear-gradient(180deg,$couleur-secondaire,$couleur-primaire);
    box-shadow: 0 5px 10px $couleur-ombres;
}



footer{
    padding-top: 26px;
    padding-left: 24px;
    padding-bottom: 36px;
    
    color: white;
    background-color: $couleur-footer;

    img{
        height: 18px;
        filter: invert(100%)
    }
    ul{
        margin-top: 24px;
        li{
            margin-top: 14px;
            i{
                margin-right: 8px;
            }
            a{
                &{
                    color: white;
                }
            }
        }
    }
}
// Pied de page




  // ====================== //
 // ===== Animations ===== //
//======================= //

.page{
    .page__carte{
        .page__carte__plat{
            .page__carte__plat__type{
                .contenu{
                    .checkbox{
                        width: 0%;
                        
                        transition: all 500ms ease;
                    }
                    &:hover{
                        .checkbox{
                            width: 35%;

                            i{
                                transform: rotate(360deg);
                                transition: all 400ms 150ms ease-out;
                            }
                        }
                    }
                }
            }
        }
    }
}
//Checkbox

.page__carte__titre__coeurs, .element__coeurs{
    .fa-heart{
        cursor: pointer;
        transition: all 500ms;
        &--plein{
            transform: scale(0.8);
            opacity: 0;
        }
        &--vide{
            opacity: 1;
        }
    }

    &:focus, &:hover{
        .fa-heart{
            transform: scale(1.4);
            transition: all 500ms;
            &--plein{
                opacity: 1;
            }
            &--vide{
                opacity: 0;
            }
        }
    }
}
// Coeurs


@keyframes translation{
    0% {
        opacity: 0;
        transform: translate(0,30px);
    }

    100%{
        opacity: 1;
        transform: translate(0,0px);
    }
}
// Apparitions des plats

.bouton{
    transition: all 500ms ease;
    &:hover{
        box-shadow: 4px 9px 10px $couleur-ombres-foncee;
        transform: scale(1.1);
    }
}





  // ====================== //
 // ===== Responsive ===== //
//======================= //

@media all and (min-width: 812px)
{
    .chargement{
        top: 10%;
        left: 20%;

        width: 60%;
        height: 80%;

        border-radius: 50px;
    }

    header{
        height: 100px;
        a{
            left: 70px;
            i{
            font-size: 30px;
            }
        }
    }

    .fonctionnement{
        padding-left: 15%;
        padding-right: 15%;
        ul{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            li{
                margin: 16px;
            }
        }
    }

    .resultats{
        padding-left: 15%;
        padding-right: 15%;

        .resultats__grille{
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 18px;
            column-gap: 36px;
            grid-template-areas:
            "carte1 carte2"
            "carte3 carte4";
        }
    }

    .page{
        &--La-Palette-Du-Goût{
            background-image: url("../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        }
        &--La-note-enchantée{
            background-image: url("../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        }
        &--A-La-Francaise{
            background-image: url("../../public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        }
        &--Le-Delice-Des-Sens{
            background-image: url("../../public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        }

        img{
            display: none;
        }

        .page__carte{
            margin-top: 220px;
            max-width: 60%;
            min-width: 730px;
            padding: 60px 5%;

            .page__carte__titre{
                h1{
                    text-align: center;
                }
                .page__carte__titre__coeurs{
                    .fa-heart{
                        right: 25%;
                    }
                }
            }
    
            .page__carte__plat{
                .page__carte__plat__type{
                    width: 90%;
                    margin:auto;
                    margin-top: 20px;
    
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 30px;
                    row-gap: 18px;
                } 
            }
        }
    }

    .bouton{
        margin-top: 50px;
        width: 30%;
        text-align: center;
    }

    footer{
        padding-top: 40px;
        padding: 40px 20%;
        
        color: white;
        background-color: $couleur-footer;
    
        img{
            height: 18px;
            filter: invert(100%);
        }
        ul{
            margin-top: 24px;
            display: flex;
            li{
                margin-top: 10px;
                margin-right: 5%;
            }
        }
    }
}