@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  border: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 300;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  color: #3b8568;
}

a {
  text-decoration: none;
}
a {
  color: black;
}

span {
  font-weight: 500;
}

header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header img {
  height: 28px;
}
header a {
  position: absolute;
  left: 22px;
}
header a i {
  font-size: 20px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75) inset;
  background-color: #eaeaea;
}
.localisation i, .localisation input {
  margin: 16px 0;
}
.localisation input {
  border: none;
  font-size: 16px;
  text-align: center;
  color: black;
  background-color: #eaeaea;
}
.localisation input::placeholder {
  color: black;
  opacity: 1;
}

.introduction {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 56px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f6f6f6;
}
.introduction p {
  margin-top: 24px;
}

.fonctionnement {
  padding-top: 56px;
  padding-bottom: 68px;
  padding-left: 20px;
  padding-right: 20px;
}
.fonctionnement li {
  height: 72px;
  margin-top: 32px;
  padding-left: 32px;
  padding-right: 28px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 15px;
  background-color: #f6f6f6;
  box-shadow: 0 5px 10px #DDDDDD;
}
.fonctionnement li i {
  color: #7f7f7f;
  margin-right: 26px;
}
.fonctionnement li .fonctionnement__numérotation {
  padding: 4px 9px;
  position: absolute;
  left: -15px;
  text-align: center;
  border-radius: 100px;
  color: white;
  background-color: #9356DC;
}
.fonctionnement li:hover {
  background-color: #f4edfe;
}
.fonctionnement li:hover i {
  color: #9356DC;
}

.resultats {
  padding-top: 56px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 64px;
  background-color: #f6f6f6;
}
.resultats .resultats__grille {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 18px;
  grid-template-areas: "carte1" "carte2" "carte3" "carte4";
}
.resultats .resultats__grille li {
  border-radius: 15px;
}
.resultats .resultats__grille .resultats__grille__carte {
  position: relative;
}
.resultats .resultats__grille .resultats__grille__carte--1 {
  grid-area: carte1;
}
.resultats .resultats__grille .resultats__grille__carte--2 {
  grid-area: carte2;
}
.resultats .resultats__grille .resultats__grille__carte--3 {
  grid-area: carte3;
}
.resultats .resultats__grille .resultats__grille__carte--4 {
  grid-area: carte4;
}
.resultats .resultats__grille .resultats__grille__carte .element__coeurs {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}
.resultats .resultats__grille .resultats__grille__carte .element__coeurs .fa-heart {
  position: absolute;
  bottom: 48px;
  right: 24px;
  font-size: 28px;
}
.resultats .resultats__grille .resultats__grille__carte .element__coeurs .fa-heart--plein {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration {
  box-shadow: 0 5px 10px #DDDDDD;
  height: 174px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration h3 {
  float: right;
  padding: 10px 12px;
  margin-top: 12px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: #99E2D0;
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration--1 {
  background-image: url("../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration--2 {
  background-image: url("../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration--3 {
  background-image: url("../../public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration--3 h3 {
  visibility: hidden;
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration--4 {
  background-image: url("../../public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration--4 h3 {
  visibility: hidden;
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__description {
  box-shadow: 0 5px 10px #DDDDDD;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 15px 15px;
  background-color: white;
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__description .resultats__grille__carte__description__texte p {
  margin-top: 6px;
}

.page {
  background-image: none;
  background-size: cover;
  background-position: center;
  border-top: 1px white solid;
}
.page img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}
.page .page__carte {
  display: block;
  margin: auto;
  margin-top: 0;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 58px;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
}
.page .page__carte h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}
.page .page__carte h2 {
  margin-bottom: 22px;
  font-size: medium;
  font-weight: normal;
  position: relative;
}
.page .page__carte h2:before {
  content: "";
  width: 40px;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #99E2D0;
}
.page .page__carte .page__carte__titre {
  position: relative;
}
.page .page__carte .page__carte__titre .page__carte__titre__coeurs {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}
.page .page__carte .page__carte__titre .page__carte__titre__coeurs .fa-heart {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 24px;
}
.page .page__carte .page__carte__titre .page__carte__titre__coeurs .fa-heart--plein {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page .page__carte .page__carte__plat h2 {
  margin-top: 48px;
}
.page .page__carte .page__carte__plat .page__carte__plat__type {
  animation: translation 1s backwards;
}
.page .page__carte .page__carte__plat .page__carte__plat__type--1 {
  animation-delay: 300ms;
}
.page .page__carte .page__carte__plat .page__carte__plat__type--2 {
  animation-delay: 600ms;
}
.page .page__carte .page__carte__plat .page__carte__plat__type--3 {
  animation-delay: 900ms;
}
.page .page__carte .page__carte__plat .page__carte__plat__type .contenu {
  height: 70px;
  margin-top: 12px;
  display: flex;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 5px 10px #DDDDDD;
  overflow: hidden;
  cursor: pointer;
}
.page .page__carte .page__carte__plat .page__carte__plat__type .contenu .description {
  width: 100%;
  padding: 16px 10px;
  display: block;
  overflow: hidden;
}
.page .page__carte .page__carte__plat .page__carte__plat__type .contenu .description h3 {
  color: black;
  font-size: medium;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page .page__carte .page__carte__plat .page__carte__plat__type .contenu .description p {
  margin-top: 8px;
  color: black;
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page .page__carte .page__carte__plat .page__carte__plat__type .contenu .prix {
  padding: 16px 10px;
  align-self: flex-end;
}
.page .page__carte .page__carte__plat .page__carte__plat__type .contenu .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #99E2D0;
}
.page .page__carte .page__carte__plat .page__carte__plat__type .contenu .checkbox i {
  font-size: medium;
  padding: 4px;
  border-radius: 25px;
  color: #99E2D0;
  background-color: white;
}
.page .page__carte .page__carte__bouton {
  margin-top: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouton {
  margin-top: 34px;
  padding: 18px 30px;
  border-radius: 50px;
  display: inline-block;
  color: white;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  box-shadow: 0 5px 10px #DDDDDD;
}

footer {
  padding-top: 26px;
  padding-left: 24px;
  padding-bottom: 36px;
  color: white;
  background-color: #353535;
}
footer img {
  height: 18px;
  filter: invert(100%);
}
footer ul {
  margin-top: 24px;
}
footer ul li {
  margin-top: 14px;
}
footer ul li i {
  margin-right: 8px;
}
footer ul li a {
  color: white;
}

.page .page__carte .page__carte__plat .page__carte__plat__type .contenu .checkbox {
  width: 0%;
  transition: all 500ms ease;
}
.page .page__carte .page__carte__plat .page__carte__plat__type .contenu:hover .checkbox {
  width: 35%;
}
.page .page__carte .page__carte__plat .page__carte__plat__type .contenu:hover .checkbox i {
  transform: rotate(-360deg);
  transition: all 400ms 150ms ease-out;
}

.page__carte__titre__coeurs .fa-heart, .element__coeurs .fa-heart {
  cursor: pointer;
  transition: all 500ms;
}
.page__carte__titre__coeurs .fa-heart--plein, .element__coeurs .fa-heart--plein {
  transform: scale(0.8);
  opacity: 0;
}
.page__carte__titre__coeurs .fa-heart--vide, .element__coeurs .fa-heart--vide {
  opacity: 1;
}
.page__carte__titre__coeurs:focus .fa-heart, .page__carte__titre__coeurs:hover .fa-heart, .element__coeurs:focus .fa-heart, .element__coeurs:hover .fa-heart {
  transform: scale(1.4);
  transition: all 500ms;
}
.page__carte__titre__coeurs:focus .fa-heart--plein, .page__carte__titre__coeurs:hover .fa-heart--plein, .element__coeurs:focus .fa-heart--plein, .element__coeurs:hover .fa-heart--plein {
  opacity: 1;
}
.page__carte__titre__coeurs:focus .fa-heart--vide, .page__carte__titre__coeurs:hover .fa-heart--vide, .element__coeurs:focus .fa-heart--vide, .element__coeurs:hover .fa-heart--vide {
  opacity: 0;
}

@keyframes translation {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
.bouton {
  transition: all 500ms ease;
}
.bouton:hover {
  box-shadow: 4px 9px 10px #BBBBBB;
  transform: scale(1.1);
}

@media all and (min-width: 812px) {
  header {
    height: 100px;
  }
  header a {
    left: 70px;
  }
  header a i {
    font-size: 30px;
  }

  .fonctionnement {
    padding-left: 15%;
    padding-right: 15%;
  }
  .fonctionnement ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .fonctionnement ul li {
    margin: 16px;
  }

  .resultats {
    padding-left: 15%;
    padding-right: 15%;
  }

  .page--La-Palette-Du-Goût {
    background-image: url("../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  }
  .page--La-note-enchantée {
    background-image: url("../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  }
  .page--A-La-Francaise {
    background-image: url("../../public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  }
  .page--Le-Delice-Des-Sens {
    background-image: url("../../public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  }
  .page img {
    display: none;
  }
  .page .page__carte {
    margin-top: 220px;
    max-width: 60%;
    min-width: 730px;
    padding: 60px 5%;
  }
  .page .page__carte .page__carte__titre h1 {
    text-align: center;
  }
  .page .page__carte .page__carte__titre .page__carte__titre__coeurs .fa-heart {
    right: 25%;
  }
  .page .page__carte .page__carte__plat .page__carte__plat__type {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    row-gap: 18px;
  }

  .bouton {
    margin-top: 50px;
    width: 30%;
    text-align: center;
  }

  footer {
    padding-top: 40px;
    padding: 40px 20%;
    color: white;
    background-color: #353535;
  }
  footer img {
    height: 18px;
    filter: invert(100%);
  }
  footer ul {
    margin-top: 24px;
    display: flex;
  }
  footer ul li {
    margin-top: 10px;
    margin-right: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
