html, body {
  margin: 0;
  padding: 0;
  border: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-weight: 500px;
  color: #3b8568;
}

a {
  text-decoration: none;
}

span {
  font-weight: 500;
}

header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  height: 22px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.75) inset;
  background-color: #eaeaea;
}
.localisation i, .localisation p {
  margin: 16px 0;
}
.localisation i {
  margin-right: 18px;
}

.introduction {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 56px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f6f6f6;
}
.introduction p {
  margin-top: 24px;
}
.introduction .introduction__bouton {
  margin-top: 34px;
  padding: 18px 20px;
  border-radius: 50px;
  display: inline-block;
  color: white;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0 5px 10px #AAAAAA;
}

.fonctionnement {
  padding-top: 56px;
  padding-bottom: 68px;
  padding-left: 20px;
  padding-right: 20px;
}
.fonctionnement li {
  height: 72px;
  margin-top: 32px;
  padding-left: 32px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: #f6f6f6;
  box-shadow: 0 5px 15px #DDDDDD;
}
.fonctionnement li i {
  color: #7f7f7f;
  margin-right: 26px;
}
.fonctionnement li:hover {
  background-color: #f4edfe;
}
.fonctionnement li:hover i {
  color: #8b59d5;
}

.resultats {
  padding-top: 56px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 64px;
  background-color: #f6f6f6;
}
.resultats .resultats__grille {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 18px;
  grid-template-areas: "carte1" "carte2" "carte3" "carte4";
}
.resultats .resultats__grille .resultats__grille__carte {
  border-radius: 15px;
  box-shadow: 0 5px 15px #DDDDDD;
}
.resultats .resultats__grille .resultats__grille__carte--1 {
  grid-area: carte1;
}
.resultats .resultats__grille .resultats__grille__carte--2 {
  grid-area: carte2;
}
.resultats .resultats__grille .resultats__grille__carte--3 {
  grid-area: carte3;
}
.resultats .resultats__grille .resultats__grille__carte--4 {
  grid-area: carte4;
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration {
  height: 174px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration h3 {
  float: right;
  padding: 10px 12px;
  margin-top: 12px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: #a9e0d1;
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration--1 {
  background-image: url("../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration--2 {
  background-image: url("../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration--3 {
  background-image: url("../../public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration--3 h3 {
  visibility: hidden;
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration--4 {
  background-image: url("../../public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__illustration--4 h3 {
  visibility: hidden;
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 14px;
  border-radius: 0 0 15px 15px;
  background-color: white;
}
.resultats .resultats__grille .resultats__grille__carte .resultats__grille__carte__description p {
  margin-top: 6px;
}

footer {
  padding-top: 26px;
  padding-left: 24px;
  padding-bottom: 36px;
  color: white;
  background-color: #353535;
}
footer img {
  height: 18px;
  filter: invert(100%);
}
footer ul {
  margin-top: 24px;
}
footer ul li {
  margin-top: 14px;
}
footer ul li i {
  margin-right: 8px;
}

/*# sourceMappingURL=style.css.map */
